<html lang="en">
 <head>
 	<meta charset="uft-8">
 	<link rel="stylesheet" href="deco.css" />
 	<script src=""></script>
 </head>
 <body>
 	<div>
 		<div class="center">
 			<div clas="title">Classification of skin disease</div>
 			    <p>
 				   use the image of skin disease<strong>eczema</strong>
 			    </p>
 	    <div class="content">
 	    	<div class="no-display">
 	    		<input id="file-input"
 	    		class='no-display'
 	    		type="file"
 	    		name="file"
 	    		accept="image/*"
 	    		onchange="showPicked(this)'" >
 	    	</div>
 	    	<button class="choose-file-button" type="button" onclick="showPicked()">upload an image</button>
 	    	    <div class='upload-label'>
                    <label id='upload-label'>No file chosen</label>
                </div>
               <div>
                     <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                 </div>
                <div class='analyze'>
                    <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                </div>
                <div class='result-label'>
                    <label id='result-label'></label>
                </div>
          </div>
        </div>
    </div>	   
 </body>
</html>